.hero__content {
    display: flex;
    justify-content: center;
}

.hero__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 490px;
    text-align: center;
}

.hero__view {
    display: none;
}

.hero__view-info {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 22px;
    border: 1px solid;
    width: 160px;
    text-align: center;
}

.hero__title {
    margin-bottom: .64em;
}

.hero__text {
    margin-top: 0;
    max-width: 440px;
    margin-bottom: auto;
}

.hero__button {
    margin-top: 40px;
}

.cards {
    --cards-cols: 1;
    --cards-gap: 8px;

    display: grid;
    grid-template-columns: repeat(var(--cards-cols), 1fr);
    gap: var(--cards-gap);
}

@media screen and (min-width: 480px) {
    .cards {
        --cards-cols: 2;
        --cards-gap: 16px;
    }
}

@media screen and (min-width: 768px) {
    .cards {
        --cards-cols: 4;
        --cards-gap: 28px;
    }
}

.card-news {
    --card-news-padding: 20px;

    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-stroke);
}

.card-news__img {
    aspect-ratio: 1.399;
    display: block;
    position: relative;
    overflow: hidden;
}

.card-news__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-news__info {
    padding: var(--card-news-padding) var(--card-news-padding) 12px;
}

.card-news__date {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-light-darken);
    margin-bottom: 8px;
}

.card-news__title {
    font-size: 16px;
    line-height: 1.3;
    color: var(--color-alternate);
    font-family: var(--family-prime);
    font-weight: 400;
    text-transform: none;
}

.card-news__footer {
    margin-top: auto;
    padding: 0 var(--card-news-padding) var(--card-news-padding);
}

@media screen and (min-width: 992px) {
    .hero__content {
        gap: 28px;
    }
    .hero__info {
        text-align: initial;
        align-items: flex-start;
        flex: 0 0 41%;
    }
    .hero__view {
        flex: 1;
        display: flex;
        position: relative;
    }
}
